/* === TITLE === */
.title {
    &_container {
        text-align: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    &-big {
        color: var(--dark-blue);
        font-size: 5rem;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-bottom: 3rem;

        &::before {
            content: "";
            display: block;
            height: 5px;
            width: 40%;
            background-image: var(--mcol-gradient);
            border-radius: 5px;

            position: absolute;
            bottom: -1rem;
            left: 0;
            z-index: -1;
        }

        @include sm {
            font-size: 3.5rem;
            line-height: 4.5rem;
        }
    }
}

/* === GO SECTION === */
.go {
    background-color: var(--dark-blue);
    color: #fff;
    text-align: center;
    padding: 7rem 0 5rem;
    margin-top: 2rem;
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .btn {
        font-size: 2rem;

        &_container {
            padding: 1.2rem;
            width: fit-content !important;
        }
    }

    img {
        position: absolute;
        left: 10rem;
        width: 12rem;
        bottom: 0;
        transform: translateY(6px);

        @include sm {
            width: 9rem;
            left: 6rem;
            transform: translateY(4px);
        }

        @include xs {
            display: none;
        }
    }
}

/* === LEVEL UP === */
.level-up {
    background: transparent linear-gradient(135deg, #C63942, #1800BC);
    padding: 7rem 0 4rem;
    color: #FFF;

    &>div {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;

            width: 9rem;
            height: 9rem;
            background: transparent url(../assets/3d/rocket.png) no-repeat center;
            background-size: contain;
            top: -10rem;
            right: 10rem;
            transform: scale(-1.4, 1.4);

            @include md {
                width: 8rem;
                height: 8rem;
                right: 3rem;
            }

            @include xs {
                left: 50%;
                transform: translateX(-50%) scale(-1.2, 1.2);
                top: -11rem;
            }
        }
    }

    h2 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2.25rem;
        font-weight: 500;
        margin: 2rem 0 3rem;
    }

    .badge_container {
        justify-content: flex-end;
        padding-bottom: 0;

        @media (max-width: 900px) {
            justify-content: center;

            img {
                width: 15rem;
            }
        }
    }
}

/* === FAQ === */
.faq {
    padding: 3rem 2rem 3rem;
    margin-top: 3rem;
    position: relative;

    .telescope-icon {
        position: absolute;
        bottom: -1.3rem;
        left: 0;
        z-index: -10000000000000;
        filter: opacity(.25);
        height: 50rem;
        width: auto;

        @include sm {
            width: 75%;
            height: auto;
        }

        @include xs {
            display: none;
        }
    }

    h1 {
        text-align: center;
    }

    &_title {
        padding-bottom: 2rem;
    }

    .questions {
        border-bottom: 1px solid hsl(240, 5%, 91%);

        &.active {
            h2 {
                font-weight: 700;
            }

            img {
                transform: rotate(180deg) !important;
            }

            .invisible-panel {
                max-height: 280px;
                margin-bottom: 2rem;
            }
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
        }

        .visible-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--des-blue);
            margin-top: 2rem;
            margin-bottom: 2.5rem;
            cursor: pointer;

            img {
                width: 1.5rem;
                height: auto;
                transform: rotate(0deg);
                transition: transform .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
            }
        }

        .invisible-panel {
            max-height: 0;
            overflow: hidden;
            transition: all .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
        }
    }
}

// LEGALS
.legals {
    margin-top: 15rem;
    .toc {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 40%;
        padding: 2.5rem;
        border: 2px solid var(--red);
        border-radius: 5px;
        margin: 4rem 0 6rem;
        h3 {
            font-weight: 600;
            padding-left: 2rem;
        }
        .parag {
            &-title {
                font-size: 2rem;
                font-weight: 700;
            }
            &-subtitle {
                padding-left: 2rem;
                font-weight: 600;
            }
        }
    }
    .details {
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 0;
    }
    .address {
        padding-left: 5rem;
    }
    h2 {
        padding-left: 3rem;
        margin-top: 4rem;
        margin-bottom: 1.6rem;
    }
    p {
        margin-bottom: 1.6rem;
        a {
            color: #1800BC;
            text-decoration: underline;
        }
    }
    .ipt {
        font-weight: 700;
        text-decoration: underline;
    }
    ul {
        margin-bottom: 2rem;
        li {
            list-style-type: disc;
            margin-left: 8rem;
        }
    }
}
