.footer {
    color: #FFF;
    background-color: var(--dark-blue);
    position: relative;
    z-index: 0;
    padding-top: 3rem;

    .top {
        align-items: center;
        @include sm {
            flex-direction: column;
            margin-bottom: 2rem;
        }
        &>div {
            margin-bottom: -2rem;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sm {
            margin-top: 3rem;
            order: 2;
            width: 80%;
        }
        .logo {
            margin-bottom: 3rem;
            align-items: center;
            display: none;
            @media screen and (min-width: 767px) {
                display: flex;
            }
            &-img {
                width: 5rem;
                height: auto;
                margin-right: 1.6rem;
            }
            p {
                font-family: 'Poppins', 'Montserrat', 'Roboto', sans-serif;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .footer_nav {
            width: 100%;
            font-weight: 500;
            row-gap: 1.6rem;
            @include md-hp {
                flex-direction: column;
                align-items: center;
                row-gap: 2rem;
            }
            @include sm {
                margin: 2rem 0;
            }
        }
    }

    .socials {
        margin: 1.5rem auto;
        column-gap: 1.5rem;
        justify-content: center;
        img {
            width: 2.5rem;
            height: auto;
        }
        @include sm {
            padding-left: 0;
            margin: 3rem auto 3rem;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .logo {
            margin-bottom: 3rem;
            align-items: center;
            display: none;
            @include sm {
                display: flex;
            }
            &-img {
                width: 5rem;
                height: auto;
                margin-right: 1.6rem;
            }
            p {
                font-family: 'Poppins', 'Montserrat', 'Roboto', sans-serif;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        p {
            margin: 2rem 0;
        }
        .link-demo {
            font-weight: 600;
            text-decoration: underline;
        }
        .cta {
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.75rem;

            &-container {
                background-color: var(--dark-blue);
                border-radius: 3rem;
                padding: 1.2rem 2.5rem 1.1rem;
                width: fit-content;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    border-radius: inherit;
                    box-shadow: var(--red-box-shadow);
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    z-index: -1;

                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-2px) translateY(-2px);
                    background-image: var(--light-mcol-gradient);
                    background-position: left;
                    background-size: 200%;
                    transition: background-position .3s ease-in-out;
                }

                &:hover::before {
                    background-position: right;
                }
            }
        }
    }

    .astronaut-flying {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 12rem;
        height: auto;
        z-index: 1;
        @include sm {
            display: none;
        }
    }

    .bottom {
        border-top: 1px solid #FFF;
        padding: 1.6rem 0;
        font-size: 1.2rem;
        @include sm {
            flex-direction: column;
            text-align: center;
            &-left {
                row-gap: 1.6rem;
                margin-bottom: 1.6rem;
                flex-direction: column;
                align-items: center;
            }
        }
        &-right {
            row-gap: 1.6rem;
            text-align: center;
        }
    }
}

.half-block {
    width: 30%;
    margin: 0 auto;
    @include sm {
        width: 100%;
    }
}