@import "fonts";
@import "variables";
@import "reset";
@import "media-queries";
@import "classes";
@import "components";
@import "base";
@import "header";
@import "footer";
@import "index";
@import "marques";
@import "download";
@import "contact";
@import "404";

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}